.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/********************************/
/*GENERAL RULES*/
/**********************************/
/*VARIABLES*/
:root {
  --main-color: hsl(192, 100%, 9%);
  --button-color: hsl(322, 100%, 66%);
  --light-color: hsl(207, 100%, 98%);
}
/*BASIC RULES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size:10px; */
  /* 10/16=0.625 */
  /* 1rem=10px */
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.heading {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 120rem;
  padding: 0 6.4rem;
  margin: 0 auto;
}
/*REUSABLE GRID*/
.grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 5rem;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid-center-v {
  align-items: center;
  column-gap: 10rem;
  row-gap: 10rem;
}
/********************************/
/*HEADER*/
/**********************************/
.header {
  padding: 0 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
.logo {
  height: 2.2rem;
}
.header-link:visited,
.header-link:link {
  display: inline-block;
  text-decoration: none;
  color: var(--button-color);
  padding: 0.5rem 2.4rem;
  border: 1px solid var(--button-color);
  border-radius: 150px;
}
/********************************/
/*HERO SECTION*/
/**********************************/
.section-hero {
  padding: 6.4rem 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.primary-heading {
  font-size: 2.4rem;
  color: var(--main-color);
}
.hero-text {
  max-width: 30rem;
  color: var(--main-color);
  line-height: 1.6;
}
.hero-link:link,
.hero-link:visited {
  display: inline-block;
  width: 20rem;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--button-color);
  padding: 1.6rem 3.2rem;
  border-radius: 150px;
  font-weight: 600;
}
/********************************/
/*COMMUNITY SECTION*/
/**********************************/
.section-community {
  padding: 0 3.2rem;
  justify-items: center;
  margin-bottom: 6.4rem;
}
.community-img-box {
  grid-column: 1/3;
}
.mockup-img {
  width: 100%;
}
.community-text h2 {
  font-size: 4.8rem;
  color: var(--main-color);
}
.community-text span {
  color: #888;
}
/********************************/
/*SERVICES SECTION*/
/**********************************/
.section-services {
  padding: 6.4rem 0rem;
  position: relative;
}
.service-text-box {
  padding: 0 4.2rem;
}
.service-img-box {
  justify-self: center;
}
.service-img {
  width: 100%;
}
.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1rem;
}
.service-description {
  color: var(--main-color);
}

/*****************************/
/* SECTION START*/
/*****************************/
.section-start {
  padding: 6.4rem 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 20rem;
}

/*****************************/
/* FOOTER*/
/*****************************/
.footer {
  padding: 4.8rem 0rem;
  color: var(--light-color);
  position: relative;

  background-color: var(--main-color);
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.footer-img {
  height: 2.2rem;
}
.contact-des,
.newsletter-des {
  max-width: 23rem;
  line-height: 1.6;
}
.contact-list li {
  margin-bottom: 1rem;
}
.contact-list img {
  height: 12px;
  padding-right: 1rem;
}
.social-list {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.newsletter h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.form input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--button-color);
  border: none;
  font-size: 1rem;
}
/********curved section**************/
.bg-footer::before {
  position: absolute;
  content: "";
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: content;
  width: 100%;
  height: 100%;
  top: -158px;
  left:0;
  z-index: -1;
}
/* .bg::after {
  position: absolute;
  content: "";
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */
/*.bg-light::before {
  position: absolute;
  content: "";
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -50px;
  z-index: -1;
}
